_site/
_generated/
.quarto/
.DS_Store
git-update.sh
.idea/
__pycache__/

/.quarto/
_cv/*.aux
_cv/*.bbl
_cv/*.bcf
_cv/*.blg
_cv/*.fdb_latexmk
_cv/*.fls
_cv/*.log
_cv/*.out
_cv/*.run.xml
_cv/*.synctex.gz
_cv/main.pdf
